#ImagenIndex{
    height: 50%;
    width: 50%;
    margin-top: 10%;
    border-top-right-radius: 25em;
    border-bottom-left-radius: 25em; 
    box-shadow: 5px 5px 5px 5px;
}
#ImagenLogin{

    height: 1%;
    width: 10%;
}
#Encabezado{
	background-color: white;

}
#Centro{
	

}
#Menu_Derecho{
	background-image: url("../Recursos/Fono_Menu.png");
}
#Pie{
	background-color: white;
	

}
#txt{
	border-radius: 10px 10px 10px 10px;
    font: 12%;
    width: 100%;

}
#Borde{
	border:0;
}
body{
	background-image: url("../Recursos/FONDO.jpg");
}
#Tabla{
	width: 100%;
	height: 50%;
	margin-left:50px;

	
}

#ImgEmpleado{
    width: 80px;
    height: 80px;
}

#L{
	font-size: 140%;
    color:black;
}

#Fondo_Panel{
   background-color:white;
}


#ImagenEncabezado{
     height: 10%;
     width: 15%;
     border-top-right-radius: 25em;
    border-bottom-left-radius: 25em; 
    box-shadow: 5px 5px 5px 5px;

}

#menu {
    padding: 0;
    margin: 0;
    border: 0; 
}
 
#menu ul, li {
    list-style: none;
    margin: 0;
    padding: 0; 
}
 
#menu ul {
    position: relative;
    z-index: 597;
    float: left; 
}
 
#menu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle; 
}
 
#menu ul li.hover,
#menu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default; 
}
 
#menu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%; 
}
 
#menu ul ul li {
    float: none; 
}
 
#menu ul li:hover > ul {
    visibility: visible; 
}
 
#menu ul ul {
    top: 0;
    left: 100%; 
}
 
#menu ul li {
    float: none; 
}
 
#menu {
    width: 255px; 
}
 
#menu span, #menu a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none; 
}
 
#menu:after, #menu ul:after {
    content: '';
    display: block;
    clear: both; 
}
 
#menu ul, #menu li {
    width: 100%; 
}
#menu li {
    background: white;
}
#menu li:hover {
    background: #f6f6f6; 
}
#menu a {
    color: #666666;
    line-height: 160%;
    padding: 11px 28px 11px 28px;
    width: 253px; 
}
#menu ul ul li {
    background: #f6f6f6; 
}
#menu ul ul li:hover {
    background: #dddddd; 
}
#menu ul ul li:hover a {
    color: #666666; 
}
#menu ul ul li ul li {
    background: #dddddd; 
}
#menu ul ul li ul li:hover {
    background: #b7b7b7; 
}
#menu .has-sub {
    position: relative; 
}
 
#menu .has-sub:after, #menu .has-sub > ul > .has-sub:hover:after {
    content: '';
    display: block;
    width: 10px;
    height: 9px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5px;
}
 
#menu .fa-angle-right {
    float: right;
}


#Conocer{
    height: 50px;
    width: 50px;
}